.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    flex-direction: column;
    gap: 20px;
}

.header {
    font-size: 3rem;
    font-weight: 600;
}

.__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
