.about-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.about-container > div {
    padding: 40px;
    border-radius: 4px;
    background-color: rgba(177, 169, 169, 0.2);
    box-shadow: 0 0  2px 2px #c1bdbd;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-container > div > header {
    width: 100%;
    border-bottom: 1px solid #2e302e;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 4px;
    font-weight: 600;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-content > p{
    text-align: justify;
}